<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h1>Latest Posts</h1>
        </div>
    </div>

    <!-- Using for loop you can also display post -->
    <!-- <div class="row" *ngFor="let post of listOfPosts">
        <div class="col-sm-6">
            <app-post [post]="post"></app-post>
        </div>
    </div> -->

    <div class="row">
        <div class="col-sm-6">
            <!-- sending post data to post component -->
            <app-post [post]="listOfPosts[0]"></app-post>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <!-- sending post data to post component -->
            <app-post [post]="listOfPosts[1]"></app-post>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <!-- sending post data to post component -->
            <app-post [post]="listOfPosts[2]"></app-post>
        </div>
    </div>
</div>